body, html{
    width: 99%;
    height: 99%;
}

#Visualizer{
    width: 50%;
    height: 100%;
}

.button_body{
    position: absolute;
    width: 10%;
    height: 25%;
    background-color:yellow;
}

#HeadB{
    left: 15%;
    height: 20%;
    top: 5%;
}
#FrontB{
    width: 5%;
    left: 15%;
    top: 25%;
}
#BackB{
    width: 5%;
    left: 20%;
    top: 25%;
}

#LArmB{
    width: 10%;
    height: 10%;
    left: 5%;
    top: 25%;
}
#RArmB{
    width: 10%;
    height: 10%;
    left: 25%;
    top: 25%;
}
#LLegB{
    width: 5%;
    left: 15%;
    top: 50%;
}
#RLegB{
    width: 5%;
    left: 20%;
    top: 50%;
}

#HumanMask{
    position: relative;
    left: 10%;
    width: 70%;
    height: 100%;
}
